@import url('https://fonts.googleapis.com/css2?family=Inter:wght@274;400;618&display=swap');

:root {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.25;

  --wght-thin: 250;
  --wght-bold: 650;
  --wght-normal: 350;

  --transition-time: 500ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-variation-settings: "wght" var(--wght-thin);
}

h2, h3 {
  font-size: 1.5rem;
  font-variation-settings: "wght" var(--wght-normal);
}

h3 {
  font-size: 1.2rem;
}

main {
  /*
  width: 60vw;
  min-width: 320px;
  max-width: 1200px;
  */
  width: clamp(320px, 60vw, 1200px);
  margin: 0 auto;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.25);
}

header nav {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-variation-settings: "wght" var(--wght-thin);
}

header nav a {
  flex: 1 0 auto;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

header nav a:hover {
  color: #ffd500;
  background-color: #021272;
  font-variation-settings: "wght" var(--wght-bold);
}

table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

table thead, table tbody {
  transition: background-color var(--transition-time);
}

td, th {
  border: 1px solid rgb(60 60 60);
  padding: 0.5rem;
}

td {
  text-align: right;
}

table:hover thead {
  background-color: coral;
}
table:hover tbody {
  background-color: deepskyblue;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}

address {
  justify-self: end;
}

.topAnchor {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.topAnchor span {
  display: none;
}

.topAnchor a {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 0.25);
}

.topAnchor a::after {
  content: "⬆️";
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
