body {
	margin:30px 15px;
	background:#e0ffcc;
	color:black;
	font:13px "Arial CE", "Helvetica CE", Arial, sans-serif;
	}

h1 { display:block; color:black; margin:0 0 1em 0; }
h4 { display:block; color:black; margin:1em 0 0.5ex 0; }
p { margin:1em 0; }
hr { display:none; }


#obsah {
	margin:15px 30px 15px 180px;
	padding-left:20px;
	border-left:1px solid green;
	text-align:center;
	line-height:200%;
	}
#basen h4 { margin-top:2em; }
#basen p {
	margin: 0.5ex 30px 2em 30px; padding:10px 30px;
	border:1px dotted green;
	font-size:10pt;
	color:darkgreen;
	}


#menu {
	position:absolute; left:25px; top:30px; width:140px;
	}
#menu h4 {
	display:block;
	margin:0; padding:5px 0.5ex;
	background:black; color:white;
	font-size:12px;
	}
#menu p { margin:0 }
#menu p+h4 { margin-top:1em; }
#menu a {
	display:block;
	margin:0; padding:5px 0.5ex;
	background:#00cc00; color:white;
	font-size:12px; font-weight:bold;
	text-decoration:none;
	}
#menu a:hover { background:#009900; color:white; }
.menuodd { display:none; }

#footer {
	position:absolute; left:20px; bottom:5px;
	text-align:left;
	font-size:9px; color:green;
	}
