/* CSS Document */
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin-ext");
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic&subset=latin,latin-ext);
body {
    font-family: Ubuntu, Verdana, Arial, sans-serif;
    font-size: 22px;
    padding: 1em;
    background-color:#fdd3c85d;
    line-height: 150%;
}
h1:not(.final) {
    text-align:center;
    line-height: 120%;
    font-size: 280%;
    color: #e44d26;
}
h2:not(.final) {
    font-size: 200%;
    margin-top: 60px;
    color: #e44d26;
}
h3:not(.final) {
    font-size: 150%;
    margin-top: 40px;
}
a {
    color:black;
    text-decoration: underline;
}
a:hover {
    color: #333;
    text-decoration: none;
}
a:visited {
    color: #555;
}
footer:not(.final-footer) {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px #555 solid;
}
footer:not(.final-footer) > a {
    display:block;
    width:7em;
    background:#CCCCCC;
    border: 2px solid gray;
    text-align: center;
    float: left;
    margin-right: 5px;
    margin-bottom: 1em;
    padding: 10px;
    color:black;
    text-decoration: none;
}
footer:not(.final-footer) > a:hover {
    display:block;
    width:7em;
    background:#999;
    border-color:#ccc;
    color: #333;
}
footer:not(.final-footer) > a:visited {
    color: #555;
}
b, strong {
    color: #832811;
    font-weight: 700;
}
p.final b, div.final b, form.final b,
p.final strong, div.final strong, form.final strong {
    color: black;
}
code {
    font-family: "Ubuntu Mono", monospace;
    display:block;
    line-height:1.3;
    margin-left: 40px;
    color: #444;
    font-weight: 400;
}
code b, code i {
    color: black;
}
code b.top, code i.top {
    color: #832811;
}
h1 code, h2 code, h3 code, li code, .final code {
    display: inline;
    margin: 0;
}
a.no {
    color:black;
    text-decoration: none;
}
a.no:hover {
    color: #333;
}
.final {
    font-family: serif;
    margin-left: 40px;
    padding: 20px;
    background-color: #DBE4FF;
}
p.final, div.final, form.final {
    font-size: 120%;
}
#cerveny_text {
    color: red;
}
.tabulka {
    border: 2px solid #999;
    border-collapse: collapse;
}
.tabulka thead {
    background-color: #ffc3c1;
}
.tabulka tbody {
    background-color: #fff5c1;
}
.tabulka td, .tabulka th{
    border: 1px solid #999;
}
